<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="{% url 'home' %}">TechPin &copy 2017.</a> <a href="//www.mozilla.org/en-US/MPL/2.0/">Under MPL 2.0</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contribute' %}">Contribute</a></li>
    </ul>
  </div>
  <div class="row">
  <h3>TechPin, Dynamic list of startups in Iran & accelerators in Iran</h3>
  <p>
  With Techpin you can discover the best new startups and products, every day. It's a place for product-loving enthusiasts to share and find out about the latest mobile apps, websites, hardware projects, and tech creations in Iran, in every industry. Best part is you can share your own expirience and rate them.
  </p>
  </div>
</footer>