{% extends 'base_text_page.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Contribute
{% endblock title %}

{% block page_title %}
{% trans "Contribute" %}
{% endblock page_title %}

{% block page_text %}
        <p>
            TechPin is a crowdsourced project and everything you see is contributed to the project. You can contribute to it in any or all of these ways:
        </p>
        
        <h4>
        Add New Products
        </h4>
        <p>
        You can add new products that are not listed yet. Once you add a product, everyone can edit or update them. Please make sure you use accurate data about the product.

        </p>
        <h4>
        Rate & Comment
        </h4>
        <p>
You can rate or comment on any product you used and share your experience. Your rate will be calculated to People or Editors Rating and will show up on the product page.        </p>
        <h4>
        Edit & Update Products
        </h4>
        <p>
         You can edit and update products and make them more complete.
        </p>
                <h4>
       Share A Product

        </h4>
        <p>
         You can share the product pages you wish with your friends and colleagues and ask them about their opinions. 
        </p>
                 <h4>
        Development

        </h4>
        <p>
You an contribute to the code of TechPin via Github. With the help of all of you, we will make TechPin great.
        </p>
        
        <h3>
        
Contributor’s Rank



        </h3>
        <p>
All of your hard works, collaborations and contributions will not be without reward. With every contribution you do, you’ll earn points. These points will used to gives you more access in TechPin.
        </p>
         <p>
Once your points reaches a certain amount, You will become an Editor.
Learn more about Editors in our about page.        </p>
        
{% endblock %}