{% extends 'base.html' %}
{% load i18n %}

{% block title %}Change Password{% endblock title %}

{% block content %}

<form method="post" action="" class="mdl-cell--12-col mdl-typography--text-center">

    <h3>{% trans "Change Password" %}:</h3>

    {% csrf_token %}
    {{ password_form.non_field_errors }}

    <div class="mdl-cell--12-col fieldWrapper">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="old_password" name="old_password" required>
            <label class="mdl-textfield__label" for="old_password">Current Password...</label>
        </div>
        {{ password_form.old_password.errors }}
    </div>

    <div class="mdl-cell--12-col fieldWrapper">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="new_password" name="new_password" required>
            <label class="mdl-textfield__label" for="new_password">New Password...</label>
        </div>
        {{ password_form.new_password.errors }}
    </div>

    <div class="mdl-cell--12-col fieldWrapper">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="confirm_password" name="confirm_password" required>
            <label class="mdl-textfield__label" for="confirm_password">Confirm Password...</label>
        </div>
        {{ password_form.confirm_password.errors }}
    </div>

    <div class="mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                type="submit">
            {% trans "Change Password" %}
        </button>
    </div>

    <br/>
    <br/>

</form>

{% endblock %}