{% extends 'base.html' %}
{% load i18n %}

{% block title %}Request password reset{% endblock title %}

{% block content %}

<form method="post" action="" class="mdl-cell--12-col mdl-typography--text-center">

    <h3>{% trans "Change Password" %}:</h3>

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mdl-cell--12-col fieldWrapper">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="email" id="email" name="email" required>
            <label class="mdl-textfield__label" for="email">Your E-Mail Here...</label>
        </div>
        {{ form.email.errors }}
    </div>

    <div class="mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                type="submit">
            {% trans "Reset Password" %}
        </button>
    </div>

    <br />
    <br />
</form>

{% endblock %}